.HelveticaNeue{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.BaskervilleOldFace{
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.AndaleMono{
    font-family: "Andale Mono", AndaleMono, monospace;
}

.BigCaslon{
    font-family: "Big Caslon", "Book Antiqua", Palatino Linotype, Georgia, serif;
}


.Consolas{
    font-family: Consolas, monaco, monospace;
}


.ArialNarrow{
    font-family: "Arial Narrow", Arial, sans-serif;
}

[hidden] {
  display: none !important;
}
