 <p [class]=questions>
  -THE LAZY DOG JUMPS OVER THE QUICK BROWN FOX 1234567890 times!
</p>
<br>
 <p [class]=questions>
  -the lazy dog jumps over the quick brown fox?
</p>

 <span style="font-family:{{questions}}">
  -the lazy dog jumps over the quick brown fox?
</span>


<div class="radio">
  <label><input id="answer1" type="radio" name="optradio" (click)="checkAnswer($event)" name="{{answer1.id}}">{{answer1.name}}</label>
</div>
<div class="radio">
  <label><input id="answer2" type="radio" name="optradio" (click)="checkAnswer($event)" name="{{answer2.id}}">{{answer2.name}}</label>
</div>
<div class="radio">
  <label><input id="answer3" type="radio" name="optradio" (click)="checkAnswer($event)" name="{{answer3.id}}">{{answer3.name}}</label>
</div>
<div class="radio">
  <label><input id="answer4" type="radio" name="optradio" (click)="checkAnswer($event)" name="{{answer4.id}}">{{answer4.name}}</label>
</div>
<div class="radio">
  <label><input id="answer5" type="radio" name="optradio" (click)="checkAnswer($event)" name="{{answer5.id}}">{{answer5.name}}</label>
</div>

<div>
  <span class="label label-success" [hidden]="!correct">Correct!</span>
  <span class="label label-danger" [hidden]="correct">Wrong!</span>
</div>