.Arial{
    font-family: Arial;
}

.Helvetica-Neue{
    font-family: "Helvetica Neue";
}

.Helvetica{
    font-family: Helvetica;
}

.Sans-serif{
    font-family: sans-serif;
}

.Baskerville{
    font-family: Baskerville;
}

.Baskerville-Old-Face{
    font-family: "Baskerville Old Face";
}

.Hoefler-Text{
    font-family: "Hoefler Text";
}

.Garamond{
    font-family: Garamond;
}

.Times-New-Roman{
    font-family: "Times New Roman";
}

.Serif{
    font-family: serif;
}

.BigCaslon{
    font-family: "Big Caslon";
}

.Book-Antiqua{
    font-family: "Book Antiqua";
}

.Palatino-Linotype{
    font-family: Palatino Linotype;
}

.Georgia{
    font-family: Georgia;
}

.Consolas{
    font-family: Consolas;
}

.monospace{
    font-family: monospace;
}

.monaco{
    font-family: monaco;
}

[hidden] {
  display: none !important;
}

#results{
    width: 40%;
}