
<label style="font-family: {{fontFamily}}">
  -THE LAZY DOG JUMPS OVER THE QUICK BROWN FOX 1234567890 times!
</label>
<br>
<label style="font-family: {{fontFamily}}">
  -the lazy dog jumps over the quick brown fox?
 </label>


<div class="radio">
  <label><input type="radio" name="optradio" (click)="checkAnswer($event)" data-font="1">fontName1</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio" (click)="checkAnswer($event)" data-font="1">fontName2</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio" (click)="checkAnswer($event)" data-font="1">fontName3</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio" (click)="checkAnswer($event)" data-font="1">fontName4</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio" (click)="checkAnswer($event)" data-font="1">fontName5</label>
</div>

<div>
  <span class="label label-success">Correct!</span>
  <span class="label label-danger">Wrong!</span>
</div>