 <p [class]=question.name>
  -THE LAZY DOG JUMPS OVER THE QUICK BROWN FOX 1234567890 times!
</p>
 <p [class]=question.name>
  -the lazy dog jumps over the quick brown fox?
</p>
<br>
<form>
<div class="radio">
  <label><input id="answer1" type="radio" name="optradio" (click)="checkAnswer($event)" name="{{answer1.id}}">{{answer1.name}}</label>
</div>
<div class="radio">
  <label><input id="answer2" type="radio" name="optradio" (click)="checkAnswer($event)" name="{{answer2.id}}">{{answer2.name}}</label>
</div>
<div class="radio">
  <label><input id="answer3" type="radio" name="optradio" (click)="checkAnswer($event)" name="{{answer3.id}}">{{answer3.name}}</label>
</div>
<div class="radio">
  <label><input id="answer4" type="radio" name="optradio" (click)="checkAnswer($event)" name="{{answer4.id}}">{{answer4.name}}</label>
</div>
<div class="radio">
  <label><input id="answer5" type="radio" name="optradio" (click)="checkAnswer($event)" name="{{answer5.id}}">{{answer5.name}}</label>
</div>
</form>
<br>
Correct: <span class="badge">{{correctAnswers}}</span><br>
Wrong: <span class="badge">{{wrongAnswers}}</span><br>
<span class="badge">{{(correctAnswers/wrongAnswers)*100}}%</span>
<br>
<div id="results">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Your answer</th>
        <th>Correct answer</th>
      </tr>
    </thead>
    <tbody>
        <tr class="{{answer.correct}}" *ngFor="let answer of answers | reverse">
           <td>{{answer.guess}}</td>
           <td>{{answer.answer}}</td>
        </tr>
    </tbody>
  </table>
</div>

