<div id="stryktipsetMatches" class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Home</th>
        <th>Away</th>
      </tr>
    </thead>
        <tbody>
          <tr *ngFor="let match of coupong; let i = index">
            <td>{{i+1}}</td>
            <td>{{match.HomeTeam}}</td>
            <td>{{match.AwayTeam}}</td>
          </tr>
        </tbody>
  </table>
</div>

<div id="stryktipsetMarkings" class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>1</th>
        <th>X</th>
        <th>2</th>
      </tr>
    </thead>
        <tbody>
          <tr *ngFor="let mark of marks;">
            <td><input [(ngModel)]="mark.HomeMark" class="coupongMarker" type="checkbox"></td>
            <td><input [(ngModel)]="mark.DrawMark" class="coupongMarker" type="checkbox"></td>
            <td><input [(ngModel)]="mark.AwayMark" class="coupongMarker" type="checkbox"></td>
          </tr>
        </tbody>
  </table>
</div>

<div id="stryktipsetPercent" class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>H.Win</th>
        <th>Draw</th>
        <th>A.Win</th>
      </tr>
    </thead>
        <tbody>
          <tr *ngFor="let match of coupong">
            <td>{{match.HomeWin}}%</td>
            <td>{{match.Draw}}%</td>
            <td>{{match.AwayWin}}%</td>
          </tr>
        </tbody>
  </table>
  <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
</div>

<div> 
  <button (click)="getStryktipsetMarks()" type="button" class="btn btn-default">Get marks</button>
  <h3 class="totalPrice">Total: {{calcPrice(0, 0)}} kr</h3>  
  <h3 class="totalPrice">Joker: <span class="label label-default">{{ jokerNumber }}</span></h3>
</div>

 
 
